@media screen and (max-width: 1024px) {
  .container {
    max-width: 64rem;
    width: 100%;
  }

  .promo__cart-w {
    display: none;
  }

  .promo__info {
    max-width: none;
    width: 100%;
  }

  .promo__title {
    max-width: none;
    width: 580px;
  }

  .input-box {
    max-width: 100%;
  }

  .input-box__search {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .promo__title {
    width: 100%;
  }

  .dropdown_cl {
    flex-direction: column;
  }

  .content-list__label {
    display: none;
  }

  .content-list:not(:first-child) {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .menu__wrapper {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: 90%;
    height: 115vh;
    background-color: #324154;
    top: 0;
    left: 0;
    padding-top: 100px;
    transform: translateX(-100%);
    transition: 0.3s all;
    z-index: 2;
  }

  .menu__wrapper-active {
    transform: translateX(0%);
  }

  .open-menu {
    display: block;
  }

  .dropdown span {
    display: none;
  }

  .close-menu {
    display: block;
  }

  .dropdownMenuC {
    display: block;
    background-color: rgb(61, 76, 97);
    transform: translateY(calc((15vh + 50px) - (30vh + 100px)));
  }

  .dropdown__menu {
    display: none;
  }

  .menu__element:not(:first-child) {
    margin-left: 0;
    margin-top: 15px;
  }

  .menu__btn {
    margin-left: 32px;
  }

  .promo__list {
    flex-wrap: wrap;
  }
}
